@font-face {
  font-family: Radiance;
  src: url(./Fonts/radiance-semibold.ttf);
}

@font-face {
  font-family: Reaver;
  src: url(./Fonts/Reaver-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Reaver;
}
html,
body {
  height: 100%;
  width: 100%;
}
.page1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.Destruct-h1::after
{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 10px;
    width: 100px;
    color: #FF6046;
}

.highlighted-text{
  position: relative;
  color: transparent;
}

.highlighted-text::after{
  content: "MULTIPLAYER";
  position: absolute;
  top: 10%;
  left: 0%;
  /* transform: translate(-90%, 100%); */
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.PlayforFree{
  backdrop-filter: blur(50px);
}

/* .highlighted-text::before{
  content: "MULTIPLAYER";
  position: absolute;
  top: 15%;
  left: 1%;
  color: transparent;
  -webkit-text-stroke: 1px white;
  transform: translate(-89.5%, 69.9%);
} */


